<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Add Question</title>
  </head>
<body>
  <h3>Add Question</h3>
  <p>You can fill in the fields to add a new question.</p>
  <form action="/" method="post">
    <fieldset class="form-field">
	  <label>Question: </label><input type="text" id="question" name="question"></input>
	</fieldset>
	<fieldset class="form-field">
	  <label>Answer 1: </label><input type="text" id="answer1" name="answer1"></input>
	</fieldset>
	<fieldset class="form-field">
	  <label>Answer 2: </label><input type="text" id="answer2" name="answer2"></input>
	</fieldset>
	<fieldset class="form-field">
	  <label>Answer 3: </label><input type="text" id="answer3" name="answer3"></input>
	</fieldset>
	  <input type="submit" value="Submit">
	</form>
</body>
</html>