<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Welcome to OpenShift</title>
  </head>
<body>
<% if (question) { %>
<h3><%=question.question%></h3>
  <form action="/quest/<%=question._id %>" method="post">
	<fieldset class="form-field">
	  <input type="radio" id="answer1Check" name="answerCheck" value="count1"> <%=question.answer1%></input>
	</fieldset>
	<fieldset class="form-field">
	  <input type="radio" id="answer2Check" name="answerCheck" value="count2"> <%=question.answer2%></input>
	</fieldset>
	<fieldset class="form-field">
	  <input type="radio" id="answer3Check" name="answerCheck" value="count3"> <%=question.answer3%></input>
	</fieldset>
	<input type="submit" value="Submit">
  </form>
<% } %>
</body>
</html>